  <div class="container">
    <table class="table">
      <thead>
          <tr>
            <th>User Name</th>
            <th style="text-align:right;">Email</th>
          </tr>
      </thead>
      <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td style="text-align:right;"><%= user.email %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <br />
</div>
<br>
    <%= link_to "back to signup", signup_url %>
</body>



